
  root {
    height: '100vh',
  }
  image {
    background: "url(" + image + ")",
  }
  paper {
    margin: theme.spacing(8, 4),
    display: 'flex',
    flexDirection: 'column',
    alignItems: 'center',
  }
  avatar {
    margin: theme.spacing(1),
    backgroundColor: theme.palette.secondary.main,
  }
  form {
    width: '100%', // Fix IE 11 issue.
    marginTop: theme.spacing(1),
  }
  submit{
    margin: theme.spacing(3, 0, 2),
  }
